*{ box-sizing: border-box; }

body{
   background-color:beige;
   margin: 0;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

img { max-width: 100%; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.header{
  padding: 15px;
  background-color:beige;
}
.header-box{
  display: flex;          
  align-items: center;
  gap: 15px;
  font-size: 28px;
  font-weight: bold;
}
nav li a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  font-weight: bold;
}

.knapp {
  display: inline-block;
  padding: 12px 24px;
  background-color:darkolivegreen;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 15px;
}
.hero h1 {
  font-size: 32px;
  margin-top: 0;
}

.introduction{
    max-width: 700px;
  margin: 0 auto;
  padding: 30px 15px;
  text-align: center;
}

.card-container{
    background-color:darkolivegreen;
    color: white;
    padding: 30px 15px;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.card-container h3 {
  padding: 10px;
  text-align: center;
  color: black;
 
}
.card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   color: black;
}
.card{
    box-sizing: border-box;
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
}
.card-container img {
  width: 100%;
  object-fit: cover;
}

.card-list{
   display: flex;         
   flex-direction: column;
   gap: 20px;
}

.last-section{
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    
}
.last-section p{
    line-height: 1.5;
}
.foot-container {
  display: flex;         
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}
footer {
  background-color: darkolivegreen;
  color: white;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer p {
  margin: 5px 0;
}
.hero-button, .plan-button{
     background-color:darkolivegreen;
    color:black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.hero-button:hover,.plan-button:hover {
  background-color: rgb(157, 181, 115);
}

@media (min-width: 768px) {

 .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 40px;
   
  }

  nav ul{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;    
    gap: 30px;
  }

  .hero {
    padding: 120px 40px;
  }

  .hero h1,
  .hero p {
    max-width: 450px;
  }

  .card-list {
    flex-direction: row; 
  }

  .card {
    flex: 1;
  }
  .logo-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
  .foot-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 30px 40px;
  }
  
}

